body{
	background: #f9f9f9;
	color: #202020;
	font-family: sans-serif;
}
header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #f9f9f9;
	z-index: 9000;
}
brand{
	font-size: 35pt;
	padding: 25px 40px;
	display: block;
	float: left;
}
brandicon{
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin-left: 40px;
}
brandicon img{
	width: 100%;
}
content{
	position: absolute;
	top: 110px;
	left: 0px;
	right: 0px;	
}
iconview{
	display: block;
	padding: 20px 40px;
}
iconview icon{
	display: block;
	float: left;
	width: 150px;
	height: 120px;
//	background: blue;
}
iconview icon img{
	width: 60px;
	margin: auto;
	display: block;
}
iconview icon strong{
	display: block;
	text-align: center;
}
iconview group{
	display: block;
	clear: both;
//	border: 1px solid red;
	overflow: auto;
	margin-bottom: 20px;
}
iconview group heading{
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px 20px;
	margin-bottom: 40px;
}
